.column {
  background-color: none;
    display : inline-block;
    position : fixed;
    top : 1vh;
  }
  #col1{
    width : 6vw;
  }
  #col2{
    width : 3vw;
    left : 8vw;
  }
  #col3{
    width : 10vw;
    left : 11vw;
  }
  #col4{
    width : 7vw;
    left : 21vw;
  }
  #row{
    position : fixed;
    top : 20vh;
    width : 12vw;
    height: 4vh;
    background-color : darkgrey;
    border-radius: 3px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset, 0 5px 15px rgba(0,0,0,0.5);
    font-size: 2.5vh;
    text-align: center;
   }
  .sel{
      cursor : pointer;
      display : block;
  }
  .sel1{
    height : 8vh;
    width : 6vw;
    font-size: 2vh;
  }
  .sel2{
    height : 5.33vh;
    width : 3vw;
    font-size: 2vh;
  }
  .sel3{
    height : 2.66vh;
    width : 10vw;
    font-size: 2vh;
  }
  .sel4{
    height : 16vh;
    width : 7vw;
    font-size: 3vh;
  }
  #tempo_selector{
    height : 3.5vh;
    width : 3vw;
    border-radius: 1px;
  }
  #selection{
    position : relative;
    left : 2vw;
    top : 3vh;
  }
  #DrumMachine{
    background-color : lightgrey;
    width: 45vw;
    height: 24vw;
    position: fixed;
    border-radius: 5px;
    top: 30vh;
    left: 27vw;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset, 0 5px 15px rgba(0,0,0,0.5);
  }
  #RoundVisualizer{
    position : fixed;
    top: 1vh;
    left: 50vw;
    border-radius: 50%;
    background-color: grey;
    box-shadow: 0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset, 0 5px 15px rgba(0,0,0,0.5);
  }
  #StrokeSelector{
    position : relative;
    top : 27vh;
    left : 2vw;
  }

  .stroke{
    height : 2.55vh;
    width : 1.25vw;
    background-color : white;
    display : inline-block;
    margin : 1px;
    border-radius : 10%;
  }
  .selected_stroke{
    background-color : green;
  }
  .played_stroke{
    border : solid grey;
    border-width: 4px;
  }
  .dm_element{
    vertical-align: top;
    height : 3vh;
    width : 3.5vw;
    display : inline-block;
    margin : 1px;
    border-radius : 10%;
  }