* {
    box-sizing:border-box
  }

body {
    background:	linear-gradient(to bottom right, #918c8c,rgb(34, 33, 33));
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    
}

#Execution_Section{
    width: 100vw;
    
    
}

/*wooden keyboard base*/
.rect {
    height: 288px;
    background: linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
    width: 1680px;
    padding: 3em 0 0 3em;
    position: relative;
    border: 1px solid #160801;
    border-radius: 1em;
    box-shadow: 0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset, 0 5px 15px rgba(0,0,0,0.5);
    left:0.7%;
}

/*white buttons*/
.w_button {
    width: 40px;
    height: 242px;
    /*background: white;
    border-style: solid;
    ;
    margin-left: 0px;*/
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 5px 5px 5px 5px;
    box-shadow: -1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom,#eee 0%,#fff 100%);
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    position: relative;

}

/*black buttons*/
.b_button {
    width: 30px;
    height: 150px;
    /*background: black;
    position: absolute;
    margin-left: -15px;
    margin-top: 0px;
    */
    margin: 0 0 0 -1em;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
    background: linear-gradient(45deg,#222 0%,#555 100%);
    padding: 0;
    display: inline-block;
    list-style: none;
    position: absolute;
}

/*features for keys*/
.played {
    background: lightgreen !important;;
    
}

.wrong{
    background: darkred;
}

.sw {
    width: 200px;
    height: 50px;
    background-color: lightblue;
    display: inline-block;
    margin: 10px;
}

.choosen{
    background: lightcoral;
}

/*buttons*/
.play{
    vertical-align: top;
    position: relative;
    margin-left: 584px;
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
.stop{
    vertical-align: top;
    position: relative;
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/*Sheet bars*/
.partitura{
    /*background: linear-gradient(to bottom right(#d3d3d3,gray));*/
    width: 1336px;
    height: 110px;
    margin: 2em auto;
    padding: 3em 0 0 3em;
    position: relative;
    transform: translate(50%,0%);
    border: 1px solid #160801;
    border-radius: 1em;
    box-shadow: 0 0 50px rgba(44, 38, 38, 0.5) inset, 0 1px rgba(90, 82, 82, 0.2) inset, 0 5px 15px rgba(39, 37, 37, 0.5);
    background-color: lightgray;
    bottom: 20%;
    left:-40%;
}

#mycanvas{
    display: block;
    position: absolute;
    left: 638px;
    top: 10px;
}

#bars{
    position: absolute;
    top: 30px;
    left:0;
    right:0;
    /*border: 1px solid black;*/
}

.key_box{
    vertical-align: top;
    background-color: lightgray;
    position: fixed;
    display: inline-block;
    margin-left: 30px;
    width: 100px;
    height: 50px;
    font-size: 30px;
    text-align: center;  
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 50px rgba(44, 38, 38, 0.5) inset, 0 1px rgba(90, 82, 82, 0.2) inset, 0 5px 15px rgba(39, 37, 37, 0.5);
}
.mode_box{
    vertical-align: top;
    background-color: lightgray;
    position: fixed;
    display: inline-block;
    margin-left: 160px;
    width: 300px;
    height: 50px;
    font-size: 30px;
    text-align: center;  
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 50px rgba(44, 38, 38, 0.5) inset, 0 1px rgba(90, 82, 82, 0.2) inset, 0 5px 15px rgba(39, 37, 37, 0.5);
}

/*choose instrument buttons*/
.instrument{
    font-size: 19.05px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    display: inline-block;
    width: 204.9px; 
    left:-273.2px;

}

#C_I{
   
    text-align:center;
    position: relative;
    width: 136.6px;
    height: 31.75x;
    font-size: 19.05px;
    font-family: 'Times New Roman', Times, serif;
    left:0px;
}

#M_I{
    
    text-align:center;
    position: relative;
    width: 136.6px;
    height: 31.75x;
    font-size: 19.05px;
    font-family: 'Times New Roman', Times, serif;
    left:0px;
}

/*execution sliders*/
#slider_exec{
    width: 136.6px;
    height: 127px;
    position: relative;
    display: inline-block;
    left: -409.8px;
}

#drumgain_exec, #chordgain_exec,#pianogain_exec{
    display: block;
    position: relative;
    margin:5px;
    margin: 10px;
}

.demo{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    width: 136.6px
}
